<?xml version="1.0" encoding="UTF-8"?>
<document>
  <properties>
    <title>Xadrian</title>
  </properties>
  <body>
    <section name="Was ist Xadrian?">
      <img src="../images/teaser.png" style="float:right;margin-left:10px;margin-bottom:5px" />        
      <p>
        Xadrian ist ein Fabrik-Komplex-Rechner für die Spiele
        <a href="http://www.egosoft.com/games/x3tc/info_en.php">X³: Terran Conflict</a>
        und
        <a href="http://www.egosoft.com/games/x3ap/info_en.php">X³: Albion Prelude</a>.
        Mit diesem Programm lässt sich ein Fabrik-Komplex planen bevor er dann im
        Spiel gebaut wird.
      </p>
      <p>
        Features:
      </p>
      <ul>
        <li>
          Kennt alle Fabriken und Sektoren aus einem  unmodifizierten X3TC und X3AP
          Spiel. Inklusive dem X3TC Bonus Sektor "Harmonische Ewigkeit".
        </li>
        <li>Optionale automatische Grundkomplex-Berechnung.</li>
        <li>Laden, Speichern und Drucken von Fabrik-Komplexen.</li>
        <li>Sonnenstärke ist pro Komplex einstellbar.</li>
        <li>
          Komplex kann mit einem Sektor verbunden werden. Sonnenstärke wird 
          dann automatisch konfiguriert und außerdem werden die nächstgelegenen
          Schiffswerften zum Kauf der Fabriken angezeigt.
        </li>
        <li>
          Einfache Erstellung von Minen. Einfach einen Minen-Typ hinzufügen und
          beliebig viele Asteroiden-Ausbeuten für diesen Typ eingeben.
        </li>
        <li>
          Export als Text und Export/Import als Template Code zum einfachen
          Austausch von Komplex-Daten via E-Mail oder Forum.
        </li>
        <li>
          Plattform-unabhängige Applikation. Läuft auf jeder Platform die
          <a href="http://www.java.com/download/">Java SE 6</a> oder höher unterstützt.
        </li>
        <li>
          Natives Look-And-Feel unter Windows, Linux und Mac OS X. Theme lässt
          sich einstellen.
        </li>
        <li>Open Source (MIT Lizenz)</li>
      </ul>
      <div style="clear:both"></div>
    </section>
    <section name="Neuigkeiten">
      <p>
        <em>(31.03.2012)</em> Xadrian Version 1.4.3 ist nun verfügbar! Neben
        einigen Fehlerkorrekturen gibt es folgende erwähnenswerte neue
        Funktionen:
      </p>
      <ul>
      <li>
        <strong>Export/Import</strong>: Komplex Daten können nun als Text
        exportiert werden, um diesen z.B. in einem Forum zu posten. Es ist
        auch möglich die Komplex Daten als kurzen Template Code zu exportieren
        und die Daten über diesen auch wieder zu importieren. So kann man
        leicht den grundlegenden Komplex-Aufbau an jemand anderen übermitteln.
        Natürlich werden nicht sämtliche Einstellungen des Komplexes 
        (Deaktivierte Fabriken, Preis-Einstellungen und so) exportiert. Für
        diesen Zweck kann man aber ja auch einfach die entsprechende x3c-Datei
        z.B. per E-Mail versenden. 
      </li>
      <li>
        <strong>Nachtmodus</strong>: Im Einstellungs-Dialog kann man nun einen
        Nachtmodus aktivieren. Die Komplex-Daten werden dann mit heller 
        Schrift auf dunklem Hintergrund angezeigt. Dies ist nützlich, wenn man
        Xadrian auf einem zweiten Rechner nebenher verwendet, während man das
        Spiel im Dunkeln spielt.
      </li>
      <li>
        <strong>Produktions-Statistiken pro Minute</strong>: Produktions-Statistiken
        können nun auch pro Minute anstatt pro Stunde angezeigt werden. Die
        Anzeige in Xadrian ist dann in etwa so, wie die vom Commercial Agent
        im Spiel. Leider weichen die Zahlen leicht von einander ab. Meine
        Recherchen haben bisher ergeben, dass das an Rundungsfehlern in der
        Anzeige im Spiel selbst liegen muss, da die Produktions-Daten im CAG
        nicht exakt mit den Cycle-Informationen der Stationen übereinstimmen.
      </li>
      </ul>
      <p>
        Die komplette Liste (in Englisch) aller Änderung gibt es 
        <a href="../changes-report.html">hier</a>.
      </p>
    </section>    
    <section name="Download">
      <p>
        Wähle dein Betriebssystem:
      </p>
      <ul class="download">
        <li><a href="${releasesUrl}/${project.version}/${project.artifactId}-${project.version}-windows.exe"><img src="../images/windows.png" align="center" /> Windows (Installer)</a></li>
        <li><a href="${releasesUrl}/${project.version}/${project.artifactId}-${project.version}-windows.zip"><img src="../images/windows.png" align="center" /> Windows (ZIP)</a></li>
        <li><a href="${releasesUrl}/${project.version}/${project.artifactId}-${project.version}-unix.tar.bz2"><img src="../images/xorg.png" align="center" /> Unix / Linux</a></li>
        <li><a href="${releasesUrl}/${project.version}/${project.artifactId}-${project.version}-macosx.zip"><img src="../images/apple.png" align="center" /> Mac OS X</a></li>
      </ul>
      <p>
        Xadrian ist in Java geschrieben und benötigt mindestens
        <a href="http://www.java.com/download/">Java SE 6 Runtime Environment</a>.
      </p>
      <p>
        <a href="http://github.com/kayahr/${project.artifactId}/">Quelltext</a>
        |        
        <a href="${releasesUrl}/">Ältere Versionen</a>
        |
        <a href="${snapshotsUrl}/">Snapshots</a>
      </p>
    </section>
    <section name="Spende">
      <p>
        Wenn dir ${project.name} gefällt, dann denke bitte über eine kleine
        Spende nach, um mich bei der Arbeit an freier Software wie dieser zu
        unterstützen. Vielen Dank! 
      </p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="U2QCDJMALR8BY" />
        <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal." />
      </form>
    </section>
    <section name="Probleme">
      <p>
        Wenn du Probleme mit Xadrian oder Fehler gefunden hast 
        (In der Applikation oder dieser Website 
        (auch wenn es nur ein Tippfehler ist)) dann lass es mich wissen,
        indem du einen  
        <a href="${project.issueManagement.url}">Fehler-Report auf GitHub</a> erstellst.
      </p>
    </section>    
  </body>
</document>
