body
{
    font-family: Arial, sans-serif;
    font-size: 9px;
    color: #000000;    
    margin: 5px;
    background: #ffffaa;
}

p
{
    margin: 0 0 9px 0;
}

p.yields
{
	margin-left: 9px;
}

h1
{
    font-family: Times New Roman, serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 9px 0;
}

h2
{
    font-family: Arial, sans-serif;
    font-size: 9px;
    font-weight: bold;
    margin: 1em 0 0 0;
}
