body
{
    color: #000000;    
    margin: 5px;
    background: #ffffaa;
}

p
{
    margin: 0 0 9px 0;
    font-size: 100%;
}

p.yields
{
    margin-left: 9px;
}

h1
{
    font-family: serif;
    font-size: 110%;
    font-weight: bold;
    margin: 0 0 9px 0;
}

h2
{
    font-size: 100%;
    font-weight: bold;
    margin: 1em 0 0 0;
}
