body
{
    color: #000000;       
    margin: 5px;
    background: #ffffaa;
}

p
{
    margin: 0 0 9px 0;
    font-size: 100%;
}

h1
{
    font-family: serif;
    font-size: 110%;
    font-weight: bold;
    margin: 0 0 9px 0;
    text-decoration: underline;
}

dt
{
    font-weight: bold;
}

dd
{
    margin-left: 10px;
}
