<?xml version="1.0" encoding="UTF-8"?>
<document>
  <properties>
    <title>Xadrian</title>
  </properties>
  <body>
    <section name="What is Xadrian?">
      <img src="images/teaser.png" style="float:right;margin-left:10px;margin-bottom:5px" />        
      <p>
        Xadrian is a factory complex calculator for the games
        <a href="http://www.egosoft.com/games/x3tc/info_en.php">X³: Terran Conflict</a>
        and
        <a href="http://www.egosoft.com/games/x3ap/info_en.php">X³: Albion Prelude</a>.
        With this tool you can plan your factory complexes before you build them
        in-game.
      </p>
      <p>
        Notable features:
      </p>
      <ul>
        <li>
          Knows all factories and sectors of a regular unmodified X3TC or X3AP game.
          Also includes the X3TC bonus sector "Harmony Of Perpetuity".
        </li>
        <li>Optional automatic base complex calculation.</li>
        <li>Load, save and print your complexes.</li>
        <li>Sun power is configurable per complex.</li>
        <li>
          Complex can be connected to a sector for automatic sun power
          configuration and calculation of next ship yards where the factories
          can be bought.
        </li>
        <li>
          Easy creation of mines. Just add a mine type and then enter 
          as many asteroid yields as you want.
        </li>
        <li>
          Cross-platform GUI application. Runs on any platform supporting
          <a href="http://www.java.com/download/">Java SE 6</a> or higher.
        </li>
        <li>
          Native look-and-feel on Windows, Linux and Mac OS X. Theme 
          is configurable. 
        </li>
        <li>
          Open Source (MIT License)
        </li>    
      </ul>
      <div style="clear:both"></div>
    </section>
    <section name="Download">
      <p>
        Choose your platform:
      </p>
      <ul class="download">
        <li><a href="${releasesUrl}/${project.version}/${project.artifactId}-${project.version}-windows.exe"><img src="images/windows.png" align="center" /> Windows</a></li>
        <li><a href="${releasesUrl}/${project.version}/${project.artifactId}-${project.version}-unix.tar.bz2"><img src="images/xorg.png" align="center" /> Unix / Linux</a></li>
        <li><a href="${releasesUrl}/${project.version}/${project.artifactId}-${project.version}-macosx.zip"><img src="images/apple.png" align="center" /> Mac OS X</a></li>
      </ul>
      <p>
        Xadrian is written in Java and needs at least the
        <a href="http://www.java.com/download/">Java SE 6 Runtime Environment</a>.
      </p>
      <p>
        <a href="http://github.com/kayahr/${project.artifactId}/">Source code</a>
        |        
        <a href="${releasesUrl}/">Older versions</a>
        |
        <a href="${snapshotsUrl}/">Snapshots</a>
      </p>
    </section>
    <section name="Donation">
      <p>
        If you like ${project.name}, please consider making a small donation
        to support my work on free software like this. Thank you!
      </p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="JVCKXYG3P46EU" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
      </form>
    </section>    
    <section name="Problems">
      <p>
        If you have any problems with ${project.name} or find bugs in the software or this
        web site (even if it's just a typo) then please let me know by creating
        an <a href="${project.issueManagement.url}">issue on GitHub</a>.
      </p>
    </section>    
  </body>
</document>
