 -----------------------------------------------------------------------------
 Fehlerberichte
 -----------------------------------------------------------------------------

Fehlerberichte

  Wenn du Probleme mit ${project.name} oder Fehler gefunden hast (In der
  Applikation oder dieser Website (auch wenn es nur ein Tippfehler ist)) dann
  lass es mich, indem du einen 
  {{{${project.issueManagement.url}}Fehler-Report auf GitHub}} erstellst.
